@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    string search = ViewData.ContainsKey("Search") ? ViewData["Search"]!=null?(string)ViewData["Search"]:"" : "";
}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">La boutique du cours de Technologies du commerce électronique</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <div class="navbar-nav flex-grow-1 form-inline my-2 my-lg-0">
                    <input class="form-control mr-2" type="search" placeholder="Search" name="search" aria-label="Search" value="@search" form="filter-form">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" form="filter-form">
                        <i class="fa fa-magnifying-glass"></i>
                    </button>
                </div>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    @{
                        int? userId = HttpContextAccessor.HttpContext.Session.GetInt32("UserId");
                        string? username = HttpContextAccessor.HttpContext.Session.GetString("Username");
                        string? userType = HttpContextAccessor.HttpContext.Session.GetString("UserType");
                        if (userId != null)
                        {
                            <li class="nav-item dropdown active mx-2">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdownMenu" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-circle-user"></i> @username
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdownMenu">
                                    <a 
                                        class="dropdown-item" 
                                        asp-controller="Order" 
                                        asp-action="@(userType.Equals(UserType.Client.ToString()) ? "ClientOrdersList" : "SellerOrdersList")">
                                        <i class="fas fa-file-invoice"></i> Order History
                                    </a>
                                    @{
                                        string controller = userType.Equals(UserType.Client.ToString()) ? "Client" : "Seller";
                                    }
                                    <a class="dropdown-item"
                                       asp-controller="@controller"
                                       asp-action="Connection">
                                        <i class="fas fa-passport"></i> Change account
                                    </a>
                                    <a class="dropdown-item"
                                       asp-controller="@controller"
                                       asp-action="Info">
                                        <i class="fas fa-info-circle"></i> Information
                                    </a>
                                    <a class="dropdown-item"
                                       asp-controller="@controller"
                                       asp-action="Stats">
                                        <i class="fa-solid fa-chart-area"></i> Stats
                                    </a>
                                    @{
                                        if (userType.Equals(UserType.Seller.ToString()))
                                        {
                                            <a class="dropdown-item"
                                               asp-controller="Product"
                                               asp-action="Add">
                                               <i class="fa-solid fa-plus"></i> Add a product
                                            </a>
                                        }
                                    }
                                </div>
                            </li>
                            if (userType.Equals(UserType.Client.ToString()))
                            {
                                <li class="nav-item active">
                                    <a asp-controller="Cart" asp-action="CartPage" class="nav-link">
                                        <i class="fa fa-shopping-cart"></i> Cart
                                    </a>
                                </li>
                            }
                        }
                        else
                        {
                            <a asp-controller="Client" asp-action="Connection" class="d-grid gap-2 me-2 ms-2 btn btn-warning">
                                Se connecter ?
                            </a>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>